*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
/*index*/
.logo {
    width: 70px;
}
.contenedor-card {
    width:250px;
}
.contenedor-card img{
    width:100%;
}

.navbar ul li a{
    font-size: 18px;
    padding: 5px;
        color: white;
        display:block 
}


.navbar-nav {
    margin-right: 0; 
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}
.navbar-nav {
    margin-left: auto !important; 
}



.contenedor-card iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.cardtextuno {
    margin: 10px;
}

.col {
    background:none;
    padding: 20px;
    width: 50%;
    height: 100%;
    color: aliceblue;
}
.cole {
    width: 500px;
    height: 100%;
}
/*Novedades*/
.title {
    text-align: center;
    background-image: url(../assets/ballenaatras.png);
    color: aliceblue;
}

.card-img-top {
    width: 100%; 
    height: 500px; 
    border: none;
}

.btn {
    background-color: black;
    color: white;
    border: none;
}

/*nosotros*/
.img-thumbnail {
    width: 100%;
    margin-top: 10px;
}
/*actividades*/
.cardtext {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



/* Reglas de media query */
/* Mobile */
@media only screen and (max-width: 500px) {
    .contenedor-card {
        width: 100%;
        height: auto;
    }

    .col {
        width: 100%;
        padding: 10px;
    }
}

/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    .contenedor-card {
        width: 100%;
        height: auto;
    }

    .col {
        width: 100%;
        padding: 15px;
    }
}
/*actividades*/
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desktop */
@media only screen and (min-width: 961px) {
    .contenedor-card {
        width: 100vw;
        height: 100vh;
    }

    .col {
        width: 50%;
        padding: 20px;
    }
}