//tipografia
//colores
$title-principal: 'Arial, sans-serif';
$title-second: "Montserrat", sans-serif;
//Colores:
$color-primary: black;
// Maps
$sizes: (
    xs: 12px,
    sm: 14px,
    md: 18px,
);
@each $formato, $llave in $sizes{
    .kfz-#{$formato}{
        font-size: $llave;
    }
}